{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
<div id="content">
    <div class="slider-block style-six bg-on-surface">
      <div class="slider-main"> 
        <div class="slider-item"> 
          <div class="bg-img"> <img class="w-100 h-100 animate__animated animate__fadeIn animate__delay-0-2s" src="{% static 'assets/images/slider/slider6.png' %}" alt=""/></div>
          <div class="container"> 
            <div class="text-content flex-columns-between"> 
              <div class="heading2 text-white animate__animated animate__fadeInUp animate__delay-0-2s">Discover the Power of <br>Blockchain with Finatex</div>
              <div class="body2 mt-12 text-white animate__animated animate__fadeInUp animate__delay-0-5s">Exploring the Transformative Power of Blockchain: Shaping Industries, <br>Empowering Change, and Paving the Path to a Sustainable Tomorrow.</div>
              <div class="button-block mt-40 animate__animated animate__fadeInUp animate__delay-0-8s"><a class="button-share display-inline-block bg-orange border-transparent hover-text-orange text-white text-button pl-36 pr-36 pt-14 pb-14 bora-100" href="#">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style-six">
      <div class="partner-five-col style-one mt-100 bg-blue">
        <div class="list pt-32 pb-32">
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-1.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-2.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-3.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-4.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-5.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-1.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-2.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-3.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-4.png' %}" alt=""/></div>
          <div class="bg-img flex-center"><img class="w-100" src="{% static 'assets/images/partner/Logo-5.png' %}" alt=""/></div>
        </div>
      </div>
    </div>

    <!--Counting section-->
    <div class="video-about-block pt-100 bg-on-surface">
      <div class="container"> 
        <div class="row mt-40 flex-columns-center bg-border pt-5 mb-5 pb-5 mx-2">
          <div class="col-11 col-sm-9">
            <div class="heading6 fw-500 text-white text-center">Finatex is a leading Investment platform that provides cutting-edge solutions for earning passive income</div>
          </div>
          <div class="mt-40 col-12">
            <div class="row row-gap-32">
              <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-6 flex-columns-center">
                <div class="count-block flex-item-center">
                  <div class="counter heading3 text-white">8</div><span class="heading3 text-white">k+</span>
                </div>
                <div class="body1 text-placehover mt-8">Happy customers</div>
              </div>
              <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-6 flex-columns-center">
                <div class="count-block flex-item-center">
                  <div class="counter heading3 text-white">14</div><span class="heading3 text-white">k+</span>
                </div>
                <div class="body1 text-placehover mt-8">Years experiences</div>
              </div>
              <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-6 flex-columns-center">
                <div class="count-block flex-item-center">
                  <div class="counter heading3 text-white">18</div><span class="heading3 text-white">k+</span>
                </div>
                <div class="body1 text-placehover mt-8">Awards achievement</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--End Counting section-->

    <!--Service section-->
    <div class="service-block style-six pt-100 bg-on-surface">
      <div class="container">
        <div class="row flex-columns-center">
          <div class="heading3 text-white text-center">Our services</div>
          <div class="body3 text-line text-center mt-24 col-12 col-lg-6">We offer financial autonomy, and provide secure, transparent, and efficient ways to invest in and manage assets<a class="text-underline text-surface hover-text-orange" href="service-one.html">View case</a></div>
          <div class="col-12 list-service row">
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6"><a class="main-item bora-16" href="#"> <i class="icon-pc-code"></i>
                <div class="heading7 text-white hover-text-orange">Financial Analysis</div>
                <div class="body3 text-placehover mt-12">It involves examining financial statements, trends with techniques such as ratio analysis, trend analysis, and comparative analysis.</div></a></div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6"><a class="main-item bora-16" href="#"> <i class="icon-code"></i>
                <div class="heading7 text-white hover-text-orange">Automated Services</div>
                <div class="body3 text-placehover mt-12">Our trading algorithm, portfolio rebalancing based on risk preferences, provide optimize returns, minimize risks for our users.</div></a></div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6"><a class="main-item bora-16" href="#"> <i class="icon-lamp-gear"></i>
                <div class="heading7 text-white hover-text-orange">Data Security</div>
                <div class="body3 text-placehover mt-12">By seamlessly integrating advance technology into our operations, we enhance data security, improve efficiency.</div></a></div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6"><a class="main-item bora-16" href="#"> <i class="icon-text-pen"></i>
                <div class="heading7 text-white hover-text-orange">Financial Consulting</div>
                <div class="body3 text-placehover mt-12">Our experienced consultants offer strategic guidance and insights to navigate the complex financial landscape with confidence.</div></a></div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6"><a class="main-item bora-16" href="#"> <i class="icon-chart"></i>
                <div class="heading7 text-white hover-text-orange">Business Loan</div>
                <div class="body3 text-placehover mt-12">We offer loans to businesses seeking financial support for growth or operational needs, our flexible terms cater for diverse industries</div></a></div>
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6"><a class="main-item bora-16" href="#"> <i class="icon-vali"></i>
                <div class="heading7 text-white hover-text-orange">Secure Wallet</div>
                <div class="body3 text-placehover mt-12">We ensure secure and user-friendly wallets that enable seamless storage and management of digital assets.</div></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="people-trust-us pt-100 bg-on-surface"> 
      <div class="container"> 
        <div class="row flex-between row-gap-32">
          <div class="col-12 col-xl-6 col-lg-5 pl-100"> 
            <div class="bg-img"><img class="w-100" src="{% static 'assets/images/component/earth6.png' %}" alt=""/></div>
          </div>
          <div class="col-12 col-xl-5 col-lg-6">
            <div class="text-button-uppercase text-orange">People Trust Us</div>
            <div class="heading3 text-white mt-12">Why we are Trusted</div>
            <div class="body1 text-placehover mt-40">At Finatex, we're passionate about helping our client succeed in today's competitive digital landscape. With years of experience in the industry, we understand the unique challenges & opportunities that individual face when it comes to earning passive income</div>
            <div class="row flex-item-center mt-40">
              <div class="col-5">
                <div class="bg-img"><img class="w-100" src="{% static 'assets/images/component/avatar-group6.png' %}" alt=""/></div>
              </div>
              <div class="col-7 col-sm-6"> 
                <div class="text-button text-white">Trusted by Individuals around the globe</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pricing-main pricing-six pt-100 bg-on-surface"> 
      <div class="container"> 
        <div class="text-button-uppercase text-orange">Pricing </div>
        <div class="heading flex-between mt-12">
          <div class="row w-100 row-gap-24 pb-5">
            <div class="heading3 text-white col-12 col-lg-8">Choose an <span class="text-orange">Investment Plan</span></div>
          </div>
        </div>
        <div class="list-pricing show">
          <div class="row mt-40 flex-between row-gap-32">
            <div class="col-12 col-lg-4">
              <div class="pricing-item p-32 bora-16 text-white">
                <div class="item-infor pl-24 pr-24">
                  <div class="heading7 text-center text-orange">Standard</div>
                  <div class="heading3 text-center mt-12">4%<span class="body1"></span></div>
                  <div class="body3 text-center text-line mt-12">daily interest(3days)</div>
                  <div class="list-feature mt-32 flex-column gap-12">
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">Twice reinvestment</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">24/7 withdrawal</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">minimun amount $100</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3 ">maximum amount $999</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">2% referal bonus</div>
                    </div>
                  </div>
                </div>
                <div class="button-block w-100 mt-40"><a class="button-share text-center display-block text-white text-button w-100 pt-12 pb-12 bora-8" href="{% static 'active' %}">Invest now</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="pricing-item p-32 bora-16 text-white">
                <div class="item-infor pl-24 pr-24">
                  <div class="heading7 text-center text-orange">Premium</div>
                  <div class="heading3 text-center mt-12">7%<span class="body1"></span></div>
                  <div class="body3 text-center text-line mt-12">daily interest(5days)</div>
                  <div class="list-feature mt-32 flex-column gap-12">
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">5 times reinvestment</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">24/7 withdrawal</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">minimun amount $1000</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3 ">maximum amount $5999</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">3% referal bonus</div>
                    </div>
                  </div>
                </div>
                <div class="button-block w-100 mt-40"><a class="button-share text-center display-block text-white text-button w-100 pt-12 pb-12 bora-8" href="{% static 'active' %}">Invest now</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="pricing-item p-32 bora-16 text-white">
                <div class="item-infor pl-24 pr-24">
                  <div class="heading7 text-center text-orange">Vip</div>
                  <div class="heading3 text-center mt-12">10%<span class="body1"></span></div>
                  <div class="body3 text-center text-line mt-12">daily interest(10days)</div>
                  <div class="list-feature mt-32 flex-column gap-12">
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">Unlimited reinvestment</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">24/7 withdrawal</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">minimun amount $6000</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3 ">maximum amount Unlimited</div>
                    </div>
                    <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                      <div class="body3">5% referal bonus</div>
                    </div>
                  </div>
                </div>
                <div class="button-block w-100 mt-40"><a class="button-share text-center display-block text-white text-button w-100 pt-12 pb-12 bora-8" href="{% static 'active' %}">Invest now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work pt-100 bg-on-surface"> 
      <div class="container"> 
        <div class="text-button-uppercase text-orange">How We Work </div>
        <div class="heading mt-12">
          <div class="row w-100 row-gap-24 flex-item-center">
            <div class="heading3 text-white col-12 col-xl-6">Streamlining Your Investment</div>
            <div class="body2 text-placehover col-12 col-xl-6">Efficiently navigate digital finance world with our streamlined approach, from investing to earning passive income and 24/7 support.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-3 col-md-6 col-sm-6">
            <div class="main-item bora-16 p-32">
              <div class="number heading4 text-white bg-orange bora-20 display-inline-block">01</div>
              <div class="heading7 text-white">Deposit</div>
              <div class="body3 text-placehover mt-8">We offers a secure and convenient way to fund your account. Whether you're transferring funds from your bank or another source, our platform ensures seamless transactions.</div>
            </div>
          </div>
          <div class="col-12 col-xl-3 col-md-6 col-sm-6">
            <div class="main-item bora-16 p-32">
              <div class="number heading4 text-white bg-orange bora-20 display-inline-block">02</div>
              <div class="heading7 text-white">Investment</div>
              <div class="body3 text-placehover mt-8">We provide diverse range of opportunities tailored to your financial goals. From stocks and bonds to cryptocurrencies and mutual funds, you can explore and select investments that align with your risk tolerance and objectives</div>
            </div>
          </div>
          <div class="col-12 col-xl-3 col-md-6 col-sm-6">
            <div class="main-item bora-16 p-32">
              <div class="number heading4 text-white bg-orange bora-20 display-inline-block">03</div>
              <div class="heading7 text-white">Earning</div>
              <div class="body3 text-placehover mt-8">Investments over time, earns you profit, dividends, and interest across your portfolio, earning you passive income daily.</div>
            </div>
          </div>
          <div class="col-12 col-xl-3 col-md-6 col-sm-6">
            <div class="main-item bora-16 p-32">
              <div class="number heading4 text-white bg-orange bora-20 display-inline-block">04</div>
              <div class="heading7 text-white">Withdrawal</div>
              <div class="body3 text-placehover mt-8">Initiate withdrawals securely, choosing from various transfer options to your linked account details.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-six pt-100 bg-on-surface"> 
      <div class="container">
        <div class="heading3 text-white text-center">Our Testimonials</div>
        <div class="row">
          <div class="col-12 col-md-8"> 
            <div class="row"> 
              <div class="col-12 col-md-7"> 
                <div class="comment-item bora-16"><i class="icon-quotes fs-60"></i>
                  <div class="star flex-item-center gap-4 mt-32"><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i></div>
                  <div class="heading7 fw-600 mt-12 text-white">"I am extremely satisfied with your exceptional services! Your meticulous financial planning has been instrumental in managing my assets."</div>
                  <div class="infor mt-16">
                    <div class="text-button-small text-white">Alexander M.</div>
                    <div class="caption2 fw-400 text-line mt-4">Senior Research Manager</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8"> 
            <div class="row"> 
              <div class="col-12 col-md-7"> 
                <div class="comment-item bora-16"><i class="icon-quotes fs-60"></i>
                  <div class="star flex-item-center gap-4 mt-32"><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i></div>
                  <div class="heading7 fw-600 mt-12 text-white">"Your services have left me thoroughly impressed! Thanks to your meticulous financial planning, I've efficiently managed my goals."</div>
                  <div class="infor mt-16">
                    <div class="text-button-small text-white">Peter Parker</div>
                    <div class="caption2 fw-400 text-line mt-4">Senior Research Manager</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 touch">
            <div class="row"> 
              <div class="col-12 col-md-7"> 
                <div class="comment-item bora-16"><i class="icon-quotes fs-60"></i>
                  <div class="star flex-item-center gap-4 mt-32"><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i><i class="ph-fill ph-star text-orange fs-24"></i></div>
                  <div class="heading7 fw-600 mt-12 text-white">"Thrilled with your services! Your meticulous financial planning led me to efficiently manage my assets and achieve my financial goals."</div>
                  <div class="infor mt-16">
                    <div class="text-button-small text-white">Christian G.</div>
                    <div class="caption2 fw-400 text-line mt-4">Senior Research Manager</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style-six"><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a></div>
    <div class="style-six">
      <div class="form-cta-block style-about"> 
        <div class="bg-img"> <img src="{% static 'assets/images/cta/bg-cta6.png' %}" alt=""/></div>
        <div class="container h-100">
          <div class="row flex-between h-100">
            <div class="col-12 col-lg-6">
              <div class="heading2 text-white">Let’s build<br>future together</div>
              <div class="caption1 text-line mt-16">Get in Touch: Together, Let's Shape a Prosperous Future.</div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-block bora-16 bg-grey p-28 flex-columns-between gap-20">
                <div class="heading6 text-white">Need Help?</div>
                <div class="row row-gap-20">
                  <div class="col-12 col-sm-6"> 
                    <input class="w-100 bg-white caption1 pl-16 pr-16 pt-12 pb-12 bora-8" type="text" placeholder="Name"/>
                  </div>
                  <div class="col-12 col-sm-6"> 
                    <input class="w-100 bg-white caption1 pl-16 pr-16 pt-12 pb-12 bora-8" type="text" placeholder="Email"/>
                  </div>
                  <div class="col-12"> 
                    <textarea class="w-100 bg-white caption1 pl-16 pr-16 pt-12 pb-12 bora-8" name="messsage" cols="10" rows="4" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="button-block"> 
                          <button class="button-share bg-blue text-white text-button pl-36 pr-36 pt-12 pb-12 bora-48">Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}